<html
	xmlns:th="http://www.thymeleaf.org"
	th:fragment="HeaderFragment">
<div class="header" style="top:0;left: 0; border-bottom: solid 1px black;
  right: 0; height:5%">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<ul class="nav">
					<li class="nav-item"><a class="nav-link" href="#">Main</a></li>
				</ul>
			</div>
			<div class="col">
				<ul class="nav justify-content-end">
					<li class="nav-item"><a class="nav-link" href="/movieList">영화</a></li>
					<li class="nav-item"><a class="nav-link disabled" href="#">예매</a></li>
					<li class="nav-item"><a class="nav-link" href="/signup">회원가입</a></li>
					<li class="nav-item"><a class="nav-link" href="/login">로그인</a></li>
					<li class="nav-item"><a class="nav-link" href="#" onclick="logout()">로그아웃</a></li>
					<li class="nav-item"><a class="nav-link" href="/list">회원목록</a></li>
					<li class="nav-item"><a class="nav-link" href="/myPage">MyPage</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
		    function logout(){
		        if (localStorage.getItem('id') != null) {
		            localStorage.removeItem('id');
		            alert('로그아웃 완료');
		        } else {
		            alert('로그인하세요!');
		        }
		    }
		</script>
</html>