<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/defaultLayout}"
	layout:fragment="Content">
<head>
<title>회원관리</title>
</head>
<body>
	<div id="container-main" class="mt-5">
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>이름</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="review : ${reviews}"
				th:onclick="'location.href=\''+ @{/{id}(id=${review.review_pk})} + '\''">
					<td th:text="${review.movie.movie_name}"></td>
					<td th:text="${review.member.id}"></td>
					<td th:text="${review.rv_title}"></td>
					<td th:text="${review.rv_star}"></td>
					<td th:text="${review.rv_date}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>