<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/defaultLayout}"
	layout:fragment="Content">
<head>
<title>회원관리</title>
</head>
<body>
	<div id="container-main" class="mt-5">

		<button type="button" class="btn btn-primary"
			th:onclick="|location.href='@{/addReview(id=${param.id})}'|">
			리뷰 작성</button>
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>이름</th>
				</tr>
			</thead>

			<tbody>

				<tr th:each="review : ${reviews}" 
				th:onclick="'location.href=\''+ @{/{id}(id=${review.review_pk})} + '\''">
					<td scope="row" width="10%"><div th:text="${review.review_pk}"></div></td>
					<td scope="row" width="10%"><div th:text="${review.movie.movie_name}"></div></td>
					<td scope="row" width="10%"><div th:text="${review.rv_title}"></div></td>
					<td scope="row" width="10%"><div th:text="${review.rv_star}"></div></td>
					<td scope="row" width="10%"><div th:text="${review.member.id}"></div></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>