<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/defaultLayout}"
	layout:fragment="Content">

<head>
<title>상세보기(수정)</title>
</head>

<body>
	<div id="container-main" class="container px-5">
		<br>
		<h2 th:text="${review.movie.movie_name}"></h2>
		<h2 style="float: right;" th:text="${review.member_id}"></h2>
		<div id="content-box">
			<div>
				글번호 : <span th:text="${review.review_pk}"></span>
			</div>
			<div>
				등록 일시 : <span th:text="${review.rv_date}"></span>
			</div>

			<div>
				별점 : <select name="rv_star" id="rv_star"
					th:value="${review.rv_star}">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
			</div>
			<div class="form-floating mb-3">
				<h3>글 제목</h3>
				<input class="form-control" id="rv_title" type="text" name="rv_title"
					th:value="${review.rv_title}">
			</div>
			<div class="form-floating mb-3">
				<textarea class="form-control rv_content" id="rv_content" type="text" style="height: 10rem"
					th:text="${review.rv_content}"></textarea>
			</div>
		</div>
		<div>
			<button id="update" type="button">수정 완료</button>
			<button id="remove" type="button">취소</button>
		</div>

	</div>
	<th:block layout:fragment="script">
	<script th:inline="javascript">
    	$(document).ready(function(){
    			 
    		 /*<![CDATA[*/
    		 var review_pk = "[[${review.review_pk}]]";
    		
    		$('#update').click((event) => {
    			const rv_title = $('#rv_title').val();
    			const rv_star = $('#rv_star').val();
    			const rv_content = $('.rv_content').val();
    			
    			 if (rv_title == '') {
                     alert('제목을 입력해주세요');
                     return;
                 }
                 if (rv_content == '') {
                     alert('내용을 입력해주세요');
                     return;
                 }
                 if (rv_star == '') {
                 	rv_star = 1;
                 }
                 
                 const path = 'http://localhost:8881/api/rvUpdate/' + review_pk;
                 const json = JSON.stringify({
                	 'rv_title' : rv_title,
                	 'rv_star' : rv_star,
                	 'rv_content' : rv_content
                 });
                 $.ajax({
                	 url: path,
                	 type: 'PATCH',
                	 contentType: 'application/json',
                	 data: json,
                 }).done((response) => {
                	console.log(response);
                	if(response == 'success'){
                		alert('수정 성공');
                		location.href = 'http://localhost:8881/' + review_pk;
                	} else{
                		alert(response);
                	}
                	
                 });
    		});
    		 /*]]*/
    	});
    	
    </script>
    </th:block>
</body>

</html>
<!-- 
	
	
-->