<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/defaultLayout}"
	layout:fragment="Content">
<head>
<title>Spring Boot</title>
</head>

<body>
	<div class="container-fluid mt-3" id="container">
		
		<div class="row">
			<div class="col p-3 bg-primary text-white" style="border: 1px solid black">.col</div>
			<div class="col p-3 bg-dark text-white" style="border: 1px solid black">.col</div>
			<div class="col p-3 bg-primary text-white" style="border: 1px solid black">.col</div>
		</div>
	</div>
</body>
</html>