<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="head">
	<title>Spring Boot</title>

	<!--/* css */-->
	<link th:href="@{/css/common.css}" rel="stylesheet" />
</th:block>
<body>
	<th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>

	<div layout:fragment="content" class="content">
		<h2>This is Content</h2>
	</div>
	<p></p>
	<p>
		<a href="/members/new">회원 가입</a>
		<a href="/members">회원 목록</a>
		<a href="/members/login">로그인</a>
	</p>
</body>
</html>