<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{common/layout/defaultLayout}"
	layout:fragment="Content">
<head>
<title>Spring Boot</title>
</head>

<body>
	<div class="container-fluid mt-3" id="container-main">
		
		<div class="row">
			<div th:each="movie : ${movies}" class="col- bg-success bg-primary text-white" style="border: 1px solid black">
				<p th:text="${movie.movie_name}"></p>
				<button type="button" class="btn btn-primary">예매하기</button>
				<button type="button" class="btn btn-primary"
				th:onclick="|location.href='@{/addReview(id=${movie.movie_pk})}'|">리뷰작성</button>
			</div>
			
		</div>
	</div>
</body>
</html>