<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/defaultLayout}"
	layout:fragment="Content">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>로그인</title>

</head>
<body class="text-center">
	<!--  html 전체 영역을 지정하는 container -->
	<div id="container">
		<!--  login 폼 영역을 : loginBox -->
		<div id="loginBox">

			<!-- 로그인 페이지 타이틀 -->
			<div id="loginBoxTitle">Login</div>
			<!-- 아이디, 비번, 버튼 박스 -->
			<div id="inputBox">
				<form action="/members/login" method="post">

					<div class="input-form-box">
						<span>아이디 </span><input type="text" name="username"
							class="form-control">
					</div>
					<div class="input-form-box">
						<span>비밀번호 </span><input type="password" name="userpw"
							class="form-control">
					</div>
					<div class="button-login-box">
						<button type="submit" class="btn btn-primary btn-xs"
							style="width: 100%">로그인</button>
					</div>
				</form>
			</div>

		</div>
	</div>

	<!-- Bootstrap Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>

</body>
</html>