<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/defaultLayout}" 
	layout:fragment="Content">
<head>
	<title th:text="등록"></title>
</head>

<body>
	<div class="container px-5">
		<div class="row">
			<br><br>
			<h2>마이페이지</h2>
			<div>
				<input type="hidden" id="m_id" th:value="${member.id}">
				<div class="form-floating mb-3">
					<input class="form-control" id="member_id" type="text" th:placeholder="${member.id}"> <label
						for="title"></label>
				</div>

				<div class="form-floating mb-3">
					<input class="form-control" id="member_pw" type="text" th:placeholder="${member.userpw}"> <label
						for="title"></label>
				</div>

				<div class="d-grid">
					<button class="btn btn-primary btn-lg" id="update" type="button">수정</button>
					<button class="btn btn-primary btn-lg" id="rem"  type="button">회원탈퇴</button>
					<a  id="remove" th:href="@{/delete1(id=${member.id})}"> 삭제 </a>
					
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th style="width: 10%;" class="datatable-descending">INDEX</th>
							<th style="width: 20%;" class="datatable-descending">영화</th>
							<th style="width: 30%;" class="datatable-descending">날짜</th>
							<th style="width: 10%;" class="datatable-descending">좌석</th>
							<th style="width: 15%;" class="datatable-descending">이름</th>
							<th style="width: 15%;" class="datatable-descending"></th>
						</tr>
					</thead>

					<tbody>

						<tr th:each="reserv : ${reservs}">
							<td scope="row" width="10%">
								<div th:text="${reserv.reservation_pk}"></div>
							</td>
							<td scope="row" width="10%">
								<div th:text="${reserv.screen.movie.movie_name}"></div>
							</td>
							<td scope="row" width="10%">
								<div th:text="${reserv.reserv_date}"></div>
							</td>
							<td scope="row" width="10%">
								<div th:text="${reserv.screen.theater.theater_pk}+ '관/ ' + ${reserv.seat.seat_name}">
								</div>
							</td>
							<td scope="row" width="10%">
								<div th:text="${reserv.member.id}"></div>
							</td>
							<td scope="row" width="10%">
								<button class="btn btn-primary btn-lg delete" id="delete" type="button"
									th:value="${reserv.reservation_pk}">취소</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>


		</div>
	</div>
	<script th:inline="javascript">
$(document).ready(function () {
		$('#update').click((event) => {
			var member_id = $('#member_id').val();
			var member_pw = $('#member_pw').val();

			console.log(member_id);
			console.log(localStorage.getItem('id'));

			const path = 'http://localhost:8881/api/update/' + member_id;
			const json = JSON.stringify({
				'id': member_id,
				'userpw': member_pw
			})

			$.ajax({
				url: path,
				type: 'patch',
				contentType: 'application/json',
				data: json,
			}).done((result) => {
				console.log(result);
				if (result == 'success') {
					alert('수정 성공');
					window.location.reload();
				} else {
					alert(result);
				}
			});

		})
   		 $('#remove').click((event) => {
			var member_id = $('#m_id').val();
			localStorage.removeItem('id');
			$.ajax({
					url: 'http://localhost:8881/deleteReservAll/'+ member_id,
					type: 'delete',
					data: {'id':member_id}
				})
				alert('취소 성공');
				window.location.reload();
		}); 
		
		$('#rem').click((event) => {
			var member_id = $('#m_id').val();
				$.ajax({
					url: 'http://localhost:8881/deleteReservAll/'+ member_id,
					type: 'delete',
					data: {'id':member_id}
				})
				alert('취소 성공');
				window.location.reload();

		});
		$('.delete').click((event) => {
			var reserv_id = event.target.value;

			console.log(reserv_id);
			if (confirm("예매 취소 하시겠습니까?")) {
				$.ajax({
					url: 'http://localhost:8881/deleteReserv/' + reserv_id,
					type: 'delete',
					data: {'id':reserv_id}
				})
				alert('취소 성공');
				window.location.reload();

			} else {

			}

		});
	});
	</script>
</body>

</html>
<!--
	$.ajax({
					url: 'http://localhost:8881/deleteReservAll'+ member_id,
					type: 'DELETE',
					data: {'id':member_id}
				})
	
	
				
				,
					success: function() {
						
						alert('취소 성공');
						window.location.reload();

					}
				
				
				<div th:eath="${reserv:reservs}">
					<p th:text="${reserv.screen.movie.movie_name}"></p>
					<p th:text="${reserv.screen.scr_date}"></p>
				</div>
				
				            const path = 'http://localhost:8881/deleteReserv/' + reserv_id;
                   
                   $.ajax({
                       url: path,
                       type: 'DELETE',
                       contentType: 'application/json',
                       
                   }).done((result) => {
                       console.log(result);
                       if (result == 'success') {
                           alert('수정 성공');
                        window.location.reload();
                       } else {
                           alert(result);
                       }
                   });
                   
                   
                   
           
               
               $('#remove').click((event) => {
			var member_id = $('#m_id').val();
			if (confirm("탈퇴 하시겠습니까?")) {
				location.href = '/delete(id=' + member_id+ ')';

			} else {

			}
		}); 
-->