<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{common/layout/defaultLayout}"
	layout:fragment="Content">
<head>
<title th:text="등록"></title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="container px-5">
			<br>
			<h2>마이페이지</h2>
			<div>
				<label style="margin-bottom: 10px;">별점 : </label>


				<div class="form-floating mb-3">
					<input class="form-control" id="rv_title" type="text"
						name="rv_title" th:value="${member.id}"> <label for="title"></label>
				</div>
				
				<div class="form-floating mb-3">
					<input class="form-control" id="rv_title" type="text"
						name="rv_title" th:value="${member.userpw}"> <label for="title"></label>
				</div>
				
				<div class="d-grid">
					<button class="btn btn-primary btn-lg" id="save"
						type="button">저장</button>
				</div>

			</div>
	</th:block>
</body>
</html>
<!--
				<div th:eath="${reserv:reservs}">
					<p th:text="${reserv.screen.movie.movie_name}"></p>
					<p th:text="${reserv.screen.scr_date}"></p>
				</div>
-->