<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/defaultLayout}"
	layout:fragment="Content">
<head>
<title>회원관리</title>
	<style>
    /* 추가 스타일 */
    .btn-outline-secondary {
      padding: 20px;
      font-size: 18px;
    }
    .btn-label {
      font-size: 24px; /* 라벨 폰트 크기 설정 */
    }
  </style>
</head>	

<body class="bg-light d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="container">
    <h2 class="text-center mb-4">좌석 선택</h2>
    <form method="post">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <p class="font-weight-bold">상영관 A (1층)</p>
            <div class="d-flex justify-content-center">
              <!-- 좌석 행 1 -->
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
              
            </div>
            <div class="d-flex justify-content-center">
              <!-- 좌석 행 2 -->
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
              <label class="btn btn-outline-secondary mb-3 mx-2">
                <input type="radio" name="seat" id="seat_A1" autocomplete="off"> A1
                <span class="btn-label">A1</span>
              </label>
            </div>
          </div>
        </div>
        
      </div>
    </form>
  </div>
</body>


</html>
