<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{common/layout/defaultLayout}"
	layout:fragment="Content">
<head>
<title>Spring Boot</title>
</head>

<body>
	<div class="container-fluid mt-3" id="container-main">
		
		<div class="row">
			<div th:each="reserv : ${reservs}" class="col- bg-success bg-primary text-white" style="border: 1px solid black">
				<p th:text="${reserv.reservation_pk}"></p>
				<p th:text="${reserv.reserv_date}"></p>
				<p th:text="${reserv.screen.scr_pk}"></p>
				<p th:text="${reserv.seat.seat_name}"></p>
				<p th:text="${reserv.member.id}"></p>
				
			</div>
		</div>
	</div>
</body>
</html>