<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/defaultLayout}"
	layout:fragment="Content">
<head>
<title>회원관리</title>
</head>
<body>
	<div id="container-main" class="mt-5">
		<div id="movieTable">
		    <form method="post">
		        <th:block th:each="movie : ${movies}">
		            <input type="radio" name="movie" th:value="${movie.movie_pk}" th:id="'movie_' + ${movie.movie_pk}" />
		            <label th:for="'movie_' + ${movie.movie_pk}" th:text="${movie.movie_name}">Movie Title</label><br>
		        </th:block>
		    </form>
		</div>
		<div id="theaterTable" th:fragment="selectScr">
		    <form method="post">
		        <div name="theater" id="theaterSelect"></div>
		    </form>
		</div>
		<div id="dateTable" th:fragment="selectScr">
		    <form method="post">
		        <div name="date" id="dateSelect"></div>
		    </form>
		</div>
		<div id="movieInfo"></div>
		<div id="theaterInfo"></div>
	</div>
<script type="text/javascript">
    $('input[name="movie"]').on('change', function() {
        var movieId = $('input[name="movie"]:checked').val();
        if (movieId) {
            $.post('/selectScr/' + movieId, function(data) {
                $('#movieInfo').html('<h2>' + movieId + '</h2>');

                console.log(data);
                var theaterTable = $('#theaterTable');
                theaterTable.empty();

                // Iterate through the data and create radio buttons for theaters
                $.each(data, function(index, item) {
                    var theaterRadio = '<input type="radio" name="theater" value="' + item.theater_pk + '" id="theater_' + item.theater_pk + '">';
                    theaterRadio += '<label for="theater_' + item.theater_pk + '">' + item.theater_pk + '관</label><br>';
                    theaterTable.append(theaterRadio);
                });

                // If there are no theaters for the selected movie, show a message
                if (data.length === 0) {
                    theaterTable.html("이 영화는 상영 가능한 영화관이 없습니다.");
                }
            });
        } else {
            $('#movieInfo').empty();
            var theaterTable = $('#theaterTable');
            theaterTable.empty();
        }
    });
    $('input[name="theater"]').on('change', function() {
		var theater_pk = $('input[name="theater]:checked').val();
		if(theater_pk){
			$.post('/selectScr/' + theater_pk, function(data) {
                $('#theaterInfo').html('<h2>' + theater_pk + '</h2>');
                
                var dateTable = $('#dateTable');
                dateTable.empty();
                
                // 날짜 출력 이거든 버튼으로 ( 누르면 바로 의자 선택으로 가도록 )
                })
		}	else {
            $('#theaterInfo').empty();
            var theaterTable = $('#theaterTable');
            theaterTable.empty();
        }
	});
    
</script>
</body>
</html>